/* import main font */
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

/* import nav font */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');
/* import body font  */
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

:root {
    --white: #FFFFFF;
    --para-white: rgba(255, 255, 255, 0.205);
    --hover-white:rgba(255, 255, 255, 0.5);
    --glass-effect:rgba(255, 255, 255, 0.04);
    --line: rgba(255, 255, 255, 0.185);
    --text-blue: #D0D6F9;
    --space-black: #0B0D17;
    --none-color: rgba(255, 255, 255, 0);
}

* {
    font-family: 'Bellefair', serif;
    margin: 0;
    padding: 0;
    color: var(--white);
    /* outline: red 1px solid; */
}

/* Index page */
.background-img-index {
    position: absolute;
    background-image: url(starter-code/assets/home/background-home-desktop.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5%;
    max-width: 100%;

}

.logo {
    width: 60px;
    height: 60px;
    padding: 1.5% 1.5% 1.5% 4%;
}

#line {
    width: 33%;
    height: 1px;
    background-color: var(--line);
    z-index: 5;
    position: fixed;
    margin-left: 10%;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--glass-effect);
    backdrop-filter: blur(30px);
    padding: 0 3rem;
    width: 53%;
}

.nav-m {
    display: none;
}

.menu-back {
    display: none;
}

.bold-nav {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.nav a:hover {
    border-bottom: var(--para-white) 3px solid;
    transition: all 0.3s ease-in-out;
}

.nav a:active {
    border-bottom: var(--white) 3px solid;
}

#nav-active {
    border-bottom: var(--white) 3px solid;
}

.nav-text {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2.7px;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 2.3rem 0;
    margin: 0 1rem;
    border-bottom: var(--none-color) 3px solid;
}

.nav-text:first-child {
    margin-left: 9%;
}

.nav-text:last-child {
    margin-right: 9%;
}

.hamburger {
    display: none;
}

.index-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70vh;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}

.text-container {
    width: 30%;
    margin: 0 15%;
}

.text-cap {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4.75px;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--text-blue);
    margin-bottom: 2rem;
}

.title-large {
    text-transform: uppercase;
    font-size: 9rem;
    font-weight: normal;
    margin-bottom: 1.5rem
}

.texts-normal {
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    color: var(--text-blue);
    width: 400px;
}

.btn-container {
    display: inline-block;
    position: relative;
    right: 10%;
    bottom: -5%;
    width: 25em;
    height: 25em;
}

.btn {
    color: var(--space-black);
    background-color: var(--white);
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    width: 8em;
    height: 8em;
    margin: 1.8em;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover + .btn-active{
    display: inline-block;
    opacity: 1;
    animation: zoom 3s ease-in 0s infinite both;
}

.btn-active {
    position: absolute;
    width: 23em;
    height: 23em;
    border-radius: 50%;
    background-color: var(--para-white);
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease;
}

@keyframes zoom {
    0%   { -webkit-transform: scale(0.5); }
    50%  { -webkit-transform: scale(1); }
    100% { -webkit-transform: scale(0.5); }
  }

/* Responsive - Tablet */
@media (max-width: 1280px) {
    .background-img {
        position: absolute;
        background-image: url(starter-code/assets/home/background-home-tablet.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #line {
        display: none;
    }

    #bold-nav {
        display: none;
    }

    nav {
        backdrop-filter: blur(10px);
        width: 45%;
    }

    header {
        margin: 0;
    }

    .nav-m {
        display: none;
    }

    .nav-text {
        padding: 2.8rem 0 2.8rem 0;
        font-size: 0.8rem;
    }

    .nav-text:first-child {
        margin-left: 5%;
    }

    .nav-text:last-child {
        margin-right: 5%;
    }

    .bold-nav {
        display: none;
    }

    .index-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 7%;
    }

    .text-container {
        text-align: center;
        width: 78%;
        margin: 5% 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-cap {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .title-large {
        font-size: 10rem;
        margin-bottom: 1rem;
    }

    .texts-normal {
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .btn-container {
        left: auto;
        right: auto;
        margin-top: 5%;
    }
}

/* Responsive - Mobile-short */
@media (max-width: 650px) and (orientation: portrait) {
    .background-img {
        position: absolute;
        background-image: url(starter-code/assets/home/background-home-mobile.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    header {
        margin: 5% 5% 0 5%;
    }

    #logo {
        width: 40px;
        height: 40px;
    }

    .nav {
        display: none;
    }

    .nav-m {
        top: 0.001%;
        right: 0.001%;
        width: 65%;
        height: 100vh;
        background-color: var(--glass-effect);
        backdrop-filter: blur(40px);
        position: fixed;
        display: none;
        flex-direction: column;
        z-index: 3;
    }

    .bold-nav {
        padding-right: 5px;
    }

    .nav-text-m {
        font-family: 'Barlow Condensed', sans-serif;
        letter-spacing: 3px;
        font-size: 1.1rem;
        text-transform: uppercase;
        margin: 15% 0 0 15%;
        padding: 5px 0;
    }

    #nav-m-active {
        border-right: var(--white) 3px solid;
    }

    .nav-m a:hover {
        border-right: var(--para-white) 3px solid;
        transition: all 0.3s ease-in-out;
    }
    
    .nav-m a:active {
        border-right: var(--white) 3px solid;
    }

    .nav-text-m:first-child {
        margin-top: 50%;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        background-color: none;
        border: none;
    }

    .menu-back {
        display: none;
        cursor: pointer;
        background: none;
        border: none;
        z-index: 4;
    }

    .index-container {
        margin-top: 5%;
    }

    .text-container {
        justify-content: center;
        width: 90%;
    }

    .text-cap {
        font-size: 1rem;
        letter-spacing: 2px;
        margin-top: 5%;
    }

    .title-large {
        font-size: 4.7rem;
        margin-top: 2%;
    }

    .texts-normal {
        font-size: 0.9rem;
        line-height: 1.5rem;
        width: 320px;
    }

    .btn-container {
        width: 13em;
        height: 13em;
        margin-top: 8%;
    }

    .btn  {
        font-size: 1.1rem;
    }

    .btn-active {
        width: 13em;
        height: 13em;
    }
}

/* Responsive - Mobile-long */
/* @media (max-width: 650px) and (orientation: portrait) and (max-height: 900px) {
} */

/* Destination page */
.background-img-destination {
    position: absolute;
    background-image: url(/starter-code/assets/destination/background-destination-desktop.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Crew page */
.background-img-crew {
    position: absolute;
    background-image: url(/starter-code/assets/crew/background-crew-desktop.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}