/* import main font */
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

/* import nav font */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');
/* import body font  */
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

:root {
    --white: #FFFFFF;
    --para-white: rgba(255, 255, 255, 0.205);
    --hover-white:rgba(255, 255, 255, 0.5);
    --glass-effect:rgba(255, 255, 255, 0.04);
    --line: rgba(255, 255, 255, 0.185);
    --text-blue: #D0D6F9;
    --space-black: #0B0D17;
    --none-color: rgba(255, 255, 255, 0);
}

* {
    font-family: 'Bellefair', serif;
    margin: 0;
    padding: 0;
    color: var(--white);
    /* outline: red 1px solid; */
}

.background-img {
    position: absolute;
    background-image: url(assets/home/background-home-desktop.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
    max-width: 100%;

}

#logo {
    width: 60px;
    height: 60px;
    padding: 1.5% 1.5% 1.5% 4%;
}

#line {
    width: 33%;
    height: 1px;
    background-color: var(--line);
    z-index: 5;
    position: fixed;
    margin-left: 12%;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--glass-effect);
    backdrop-filter: blur(50px);
    padding: 0 3rem;
    width: 53%;
}

#bold-nav {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
}

a {
    text-decoration:none;
}

nav a:hover {
    border-bottom: var(--para-white) 3px solid;
    transition: all 0.3s ease-in-out;
}

nav a:active {
    border-bottom: var(--white) 3px solid;
}

.nav-active {
    border-bottom: var(--white) 3px solid;
}

.nav-text {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2.7px;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 2.5rem 0 2.5rem 0;
    margin: 0 2rem 0 2rem;
    border-bottom: var(--none-color) 3px solid;
}

.nav-text:last-child {
    margin-right: 5rem;
}

.text-cap {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4.75px;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--text-blue);
    margin-bottom: 2rem;
}

.title-large {
    text-transform: uppercase;
    font-size: 9.5rem;
    font-weight: normal;
    margin-bottom: 1.5rem
}

.texts-normal {
    font-family: 'Barlow', sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    color: var(--text-blue)
}

.index-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70vh;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
}

.text-container {
    position: relative;
    width: 25%;
}

.btn-container {
    position: relative;
}

.btn {
    color: var(--space-black);
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    width: 8em;
    height: 8em;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    /* position: relative; */
    position: fixed;
    bottom: 10%;
    right:10%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover + .btn-active{
    display: flex;
    opacity: 1;
}

.btn-active {
    position: absolute;
    width: 25em;
    height: 25em;
    border-radius: 50%;
    background-color: var(--para-white);
    top: 47%;
    right: 2.5%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease;
}

/* media selector need to change later */
@media (max-width: 1500px) and (orientation: portrait) {
    .background-img {
        position: absolute;
        background-image: url(assets/home/background-home-tablet.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #line {
        display: none;
    }

    #bold-nav {
        display: none;
    }

    header {
        margin: 0;
    }

    .nav-text {
        padding: 2.8rem 0 2.8rem 0;
        font-size: 0.5rem;
    }

    .nav-text:last-child {
        margin-right: 1rem;
    }

    .index-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin-top: 5%;
    }

    .text-container {
        position: relative;
        width: 80%;
    }

    .texts-normal {
        text-align: center;
    }

    .btn  {
        display:none;
    }
}
